.navbar-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 20, 48);
  position: fixed;
  z-index: 10;
}

.navbar-inner {
  width: 100%;
  max-width: 1200px;
}

.navbar-logo {
  color: white;
  font-family: "Goldman", cursive;
  font-size: 24px;
  margin: 10px;
  text-decoration: none;
}
