.fx-root {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fx-container {
  width: 90%;
  height: 90vh;
  background-color: teal;
}

.fx-child {
  width: 200px;
  min-width: 200px;
  height: 70px;
  margin: 5px;
  background-color: orange;
}
