<div class="fx-root">
  <div
    class="fx-container"
    fxLayout="row wrap"
    fxLayoutAlign="space-around space-around "
  >
    <div class="fx-child"></div>
    <div class="fx-child"></div>
    <div class="fx-child"></div>
    <div class="fx-child"></div>
  </div>
</div>
