.bus-details-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bus-details-inner {
  width: 100%;
  max-width: 1200px;
  margin: 20px 0;
}

.bus-det {
  width: calc(100% - 20px);
  margin: 20px 10px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.bus-det-map {
  margin: 10px;
}

.bus-det-map-row {
  display: flex;
  align-items: center;
}

.bus-det-map-row span {
  margin: 0 10px;
}

.bus-det-seat {
  width: fit-content;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;
}

.bus-det-seat-row {
  display: flex;
}

.bus-det-slip {
  text-align: center;
}

.bus-det-slip div {
  min-width: 150px;
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  text-align: right;
}

.bus-form-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.bus-form {
  padding: 10px 5px;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}

.bus-form mat-form-field {
  width: 300px;
  margin: 5px;
}
