<div class="bus-details-container">
  <div class="bus-details-inner">
    <app-bus *ngIf="bus" [bus]="bus" [show-link]="false"></app-bus>
    <div class="bus-det">
      <div class="bus-det-map">
        <div *ngFor="let obj of colorMap | keyvalue" class="bus-det-map-row">
          <app-bus-seat [img-url]="obj.value"></app-bus-seat>
          <span>{{ obj.key }}</span>
        </div>
      </div>
      <div class="bus-det-seat">
        <div
          *ngFor="let row of bus?.seats; let i = index"
          class="bus-det-seat-row"
        >
          <app-bus-seat
            [img-url]="getSeatImage(i, 0)"
            (click)="onClick(i, 0)"
          ></app-bus-seat>
          <app-bus-seat
            [img-url]="getSeatImage(i, 1)"
            (click)="onClick(i, 1)"
          ></app-bus-seat>
          <div style="width: 20px; height: 2px"></div>
          <app-bus-seat
            [img-url]="getSeatImage(i, 2)"
            (click)="onClick(i, 2)"
          ></app-bus-seat>
          <app-bus-seat
            [img-url]="getSeatImage(i, 3)"
            (click)="onClick(i, 3)"
          ></app-bus-seat>
        </div>
      </div>
      <div class="bus-det-slip">
        <div>
          <span
            >SEAT :
            {{ selected ? seatCode(selected.i, selected.j) : "N/A" }}</span
          >
          <br />
          <span>CLASS : {{ selected ? "A-CLASS" : "N/A" }}</span>
          <br />
          <span
            >FARE : {{ selected ? "৳ " + bus.price.toString() : "N/A" }}</span
          >
        </div>
        <div>
          <span
            >SUB TOTAL :
            {{ selected ? "৳ " + (bus.price - 50).toString() : "N/A" }}</span
          >
          <br />
          <span>SERVICE CHARGE : {{ selected ? "৳ 40" : "N/A" }}</span>
          <br />
          <span>SEAT : {{ selected ? "৳ 10" : "N/A" }}</span>
          <hr />
          <span
            >GRAND TOTAL :
            {{ selected ? "৳ " + bus.price.toString() : "N/A" }}</span
          >
        </div>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!selected"
          (click)="toggleForm()"
        >
          Proceed
        </button>
      </div>
      <div *ngIf="showForm" class="bus-form-container" (click)="toggleForm()">
        <form
          class="bus-form"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          (click)="formClick($event)"
        >
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput required formControlName="name" />
            <mat-error *ngIf="form.get('name')?.invalid"
              >Requiored field</mat-error
            >
          </mat-form-field>
          <br />
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput required formControlName="email" />
            <mat-error *ngIf="form.get('email')?.invalid"
              >Requiored field</mat-error
            >
          </mat-form-field>
          <br />
          <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput required formControlName="phone" />
            <mat-error *ngIf="form.get('phone')?.invalid"
              >Requiored field</mat-error
            >
          </mat-form-field>
          <br />
          <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option value="M"> Male </mat-option>
              <mat-option value="F"> Female </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('gender')?.invalid"
              >Requiored field</mat-error
            >
          </mat-form-field>
          <br />
          <button mat-raised-button color="primary" [disabled]="!form.valid">
            Purchase
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
