.bus-info-basic {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 10%;
}

.bus-info-basic > * {
  width: 25%;
  padding: 10px 0;
  text-align: center;
}

.bus-name,
.bus-price {
  font-size: 16px;
  font-weight: bold;
}

.bus-name {
  text-align: left;
}

.bus-price {
  min-width: 100px;
  text-align: right;
}

.bus-info-key {
  font-weight: bold;
}

.mat-expansion-panel-header {
  height: auto;
  padding: 10px;
  border-bottom: 1px solid rgb(192, 192, 192);
}

.mat-expansion-panel {
  width: calc(100% - 20px);
  margin: 0 10px;
  border-bottom: 1px solid rgb(192, 192, 192);
}

.bus-info-expanded {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
