<div>
  <mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="!showLink">
      <mat-expansion-panel-header>
        <div class="bus-info-basic">
          <span class="bus-name">{{ bus.name }}</span>
          <span class="bus-code">{{ bus.code }}</span>
          <span className="bus-ac">
            {{ (bus.lunch ? "LUNCH, " : "") + (bus.ac ? "AC" : "NON-AC") }}
          </span>
          <span class="bus-price">{{ "৳ " + bus.price }}</span>
        </div>
      </mat-expansion-panel-header>
      <div class="bus-info-expanded">
        <div class="bus-info-more">
          <span class="bus-info-key">DEPURTURE</span>
          {{ " : " }}
          <span class="bus-info-value">{{ bus.start_time }}</span>
          <br />
          <span class="bus-info-key">ARRIVAL</span>
          {{ " : " }}
          <span class="bus-info-value">{{ bus.end_time }}</span>
          <br />
          <span class="bus-info-key">SEATS AVAILABLE</span>
          {{ " : " }}
          <span class="bus-info-value">{{ countAvailable(bus.seats) }}</span>
        </div>
        <div *ngIf="showLink">
          <button mat-raised-button color="primary" (click)="onClick()">
            View Seats
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
