.search-form-container {
  width: fit-content;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
}

.search-form {
  text-align: center;
}

.search-form mat-form-field {
  width: 300px;
  margin: 5px;
}

.search-form button {
  flex-grow: 1;
}
