<div class="search-form-container">
  <form class="search-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>From</mat-label>
      <mat-select formControlName="from" required>
        <mat-option
          *ngFor="let district of districts"
          value="{{ district.id }}"
        >
          {{ district.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('from')?.invalid">Requiored field</mat-error>
    </mat-form-field>
    <br *ngIf="view === 'column'" />
    <mat-form-field appearance="fill">
      <mat-label>To</mat-label>
      <mat-select formControlName="to" required>
        <mat-option
          *ngFor="let district of districts"
          value="{{ district.id }}"
        >
          {{ district.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('to')?.invalid">Requiored field</mat-error>
    </mat-form-field>
    <br *ngIf="view === 'column'" />
    <mat-form-field appearance="fill">
      <mat-label>Journey date</mat-label>
      <input
        matInput
        [matDatepicker]="journeyDate"
        formControlName="journeyDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="journeyDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #journeyDate></mat-datepicker>
    </mat-form-field>
    <br *ngIf="view === 'column'" />
    <mat-form-field appearance="fill">
      <mat-label>Arrival Date (Optional)</mat-label>
      <input
        matInput
        [matDatepicker]="arrivalDate"
        formControlName="arrivalDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="arrivalDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #arrivalDate></mat-datepicker>
    </mat-form-field>
    <br />
    <div class="example-button-row">
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid || loading"
      >
        Search
      </button>
    </div>
  </form>
  <br />
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
