<div class="search-page-container">
  <div class="search-page-inner">
    <div class="search-page-form-container">
      <app-search-form
        view="row"
        [form-value]="searchData"
        (on-search)="searchBus($event)"
        [loading]="loading"
      ></app-search-form>
    </div>
    <app-buses [buses]="buses"></app-buses>
  </div>
</div>
