.search-page-container {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
}

.search-page-inner {
  width: 100%;
  max-width: 1200px;
}

.search-page-form-container {
  width: 100%;
}
